<!DOCTYPE html>
<html lang=”pt-br”>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/AltSenha.css">
        <script src="JavaScript/AltSenha.js" defer></script>
    </head>

    <body onload="carrega({{senhasIguais}})">
        <header>
            <img src="img/easyvac.png" alt="easyvac logo" class="easyvacLogo">
        </header>
        <div class="ValidacaoEmail">
            <div class="div1"><p class="informacao">Insira abaixo a nova senha:
            </p></div>
            <form action="/mudaSenha" method="POST">
                <div class="div2">
                    <label for="senha" class="senha">Nova Senha:</label>
                    <input type="password" id="senha" required class="senhaInput" placeholder="Nova Senha" name="senha">
                    <label for="senhaConfirm" class="senhaConfirm">Confirmar Nova Senha:</label>
                    <input type="password" id="senhaConfirm" required class="senhaInput" placeholder="Confirmar Nova Senha" name="confirSenha">
                    <p id="senhasIguaisId">As senhas não são iguais</p>
                    <p id="senhasMenor7Dig">A senha tem que ser maior que 7 dígitos</p>
                </div>
                <div class="div3"><input type="submit" value="Alterar Senha" class="AlterarSenha"></div>
            </form>
        </div>
    </body>

</html>