<!DOCTYPE html>
<html lang=”pt-br”>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>--</title>
        <link rel="stylesheet" href="css/SenhaAlterada.css">
    </head>

    <body>
        <header>
            <img src="img/easyvac.png" alt="easyvac logo" class="easyvacLogo">
        </header>    
        <div class="desfocaTelaDeCadastro">
            <div class="acessaOuRetorna">
                <div class="divImagem"><img src="img/sucesso.png" alt="" class="sucesso"></div>
                <div class="divText"><p class="cadastroSucesso">Senha Alterada com sucesso!</p></div>
                <div class="divButton2"><button class="btRetonraLogin" onclick="location.href='/Login'">Retornar a tela de login</button></div>
            </div>
        </div>
    </body>

</html>
